* {
    margin: 0;
    padding: 0;
}
/* Method 1  */

/* .grid-container {
    display: grid;
    grid-template-areas: 
    'header header header'
    'aside cont1 cont2'
    'aside cont3 cont3'
    'footer footer footer'
    ;
    gap: 10px;
}
.header {
    grid-area: header;
    background: linear-gradient(90deg, #624FB3, #7362B8);
    height: 80px;
    text-align: center;
}
.aside {
    grid-area: aside;
    background: linear-gradient(180deg, #36BFB8, #435C9C);
     height: calc(100vh - 320px);
     text-align: center;
     padding-top: 20px;
}
.content {
    background: linear-gradient(90deg, #4A6DD5, #24A2E3);
    text-align: center;
    padding: 20px;
}
.cont1 {
    grid-area: cont1;
}
.cont2 {
    grid-area: cont2;
}
.cont3 {
    grid-area: cont3;
}
.footer {
    grid-area: footer;
    background: linear-gradient(90deg, #624FB3, #7362B8);
    height: 180px;
    text-align: center;
    padding-top: 20px;
} */


/* METHOD 2 */
.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 4fr 4fr;
    grid-template-rows: auto 1fr 1fr auto;
    gap: 20px;
}
.header {
    grid-column: 1 / 4;
    background: linear-gradient(90deg, #624FB3, #7362B8);
    height: 100px;
}
.sidebar {
    grid-row: 2 / 4;
    background: linear-gradient(180deg, #36BFB8, #435C9C);
}
.content {
    background: linear-gradient(90deg, #4A6DD5, #24A2E3);
}
.footer {
    grid-column: 1 / 4;
    background: linear-gradient(90deg, #624FB3, #7362B8);
    height: 160px;
}
.cont1 {
    grid-column: 2 /4;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border: 3px solid black;
    color: white;
}